stages:
  - infra-plan
  - infra-apply

plan infra:
  stage: infra-plan
  script:
    - tofu init
    - tofu validate
    - tofu plan -var="pm_api_token_secret=$PM_API_TOKEN_SECRET"

apply infra:
  stage: infra-apply
  script:
    - tofu apply -var="pm_api_token_secret=$PM_API_TOKEN_SECRET"

  when: manual
# rules:
#   - if: $CI_COMMIT_BRANCH == "master"
#     changes:
#       - init # any change in this file will trigger gitlab runner
