cache:
  key: tofu
  paths:
    - .terraform/
    - .terraform.lock.hcl
    - tfplan

stages:
  - ssh-copy
  - infra-plan
  - infra-apply

copy ssh:
  stage: ssh-copy
  script:
    - |
      if [ ! -f $HOME/.ssh/SSH_COPY ]; then
        ssh-keygen -t rsa -f $HOME/.ssh/id_rsa -N ""
        ssh-copy-id -o StrictHostKeyChecking=no -i $HOME/.ssh/id_rsa.pub tofu-user@$PM_NODE_IP_ADDRESS
        touch $HOME/.ssh/SSH_COPY
      else
        echo The SSH ID is already copied to the PVE Node. Skipping ...
      fi

plan infra:
  stage: infra-plan
  script:
    - tofu init
    - tofu validate
    - tofu plan -var="pm_api_token_secret=$PM_API_TOKEN_SECRET" -out=tfplan
    - tofu show -no-color tfplan > tfplan.txt
  artifacts:
    paths:
      - tfplan.txt

apply infra:
  stage: infra-apply
  script:
    - tofu apply -var="pm_api_token_secret=$PM_API_TOKEN_SECRET" -auto-approve
  dependencies:
    - plan infra
  when: manual
# rules:
#   - if: $CI_COMMIT_BRANCH == "master"
#     changes:
#       - init # any change in this file will trigger gitlab runner
#
