stages:
  - infra-change

change infra:
  stage: infra-change
  # image: oowy/opentofu
  script:
    - cat /etc/os-release
    - tofu version
    - tofu plan
  # rules:
  #   - if: $CI_COMMIT_BRANCH == "master"
  #     changes:
  #       - init # any change in this file will trigger gitlab runner
