stages:
  - infra-change

change infra:
  stage: infra-change
  script:
    - tofu init
    - tofu validate
    - tofu plan -var="pm_api_token_secret=$PM_API_TOKEN_SECRET"
    - tofu apply -var="pm_api_token_secret=$PM_API_TOKEN_SECRET" # -auto-approve
# rules:
#   - if: $CI_COMMIT_BRANCH == "master"
#     changes:
#       - init # any change in this file will trigger gitlab runner
